# vim: set ft=sh:
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=GRA
AWS_ENDPOINT=https://s3.gra.perf.cloud.ovh.net/
AWS_SECRET_ACCESS_KEY=
ENV=dev
REDIS_URI=redis://localhost:6379
RUST_LOG=block_submission_archiver=debug,block_submission_simulator=debug
S3_BUCKET=block-submission-archive-dev
USE_LOCAL_STORE=false
